agents/a2-alex-knowledge-assistant/workflow.json
{
  "name": "A2 \u2014 Alex (Personal Knowledge Assistant)",
  "nodes": [
    {
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -960,
        320
      ],
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "webhookId": "a2-alex-telegram-trigger",
      "credentials": {
        "telegramApi": {
          "id": "XiPoK10AazY77yJ3",
          "name": "Telegram Alex"
        }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "Extract Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        320
      ],
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst message = msg.message || msg.channel_post || {};\nconst chatId = String(message.chat?.id || '');\nconst text = (message.text || message.caption || '').trim();\nconst voice = message.voice;\n\nlet inputType = 'text';\nlet voiceFileId = '';\nlet url = '';\n\nif (voice && voice.file_id) {\n  inputType = 'voice';\n  voiceFileId = voice.file_id;\n} else {\n  const urlMatch = text.match(/https?:\\/\\/\\S+/);\n  if (urlMatch && (text === urlMatch[0] || text.length < urlMatch[0].length + 80)) {\n    inputType = 'url';\n    url = urlMatch[0];\n  }\n}\n\nreturn [{ json: { chatId, inputType, text, voiceFileId, url } }];"
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "Route Input Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -512,
        320
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "cond-text",
                    "leftValue": "={{ $json.inputType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "cond-voice",
                    "leftValue": "={{ $json.inputType }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "cond-url",
                    "leftValue": "={{ $json.inputType }}",
                    "rightValue": "url",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "url"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000004",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -272,
        432
      ],
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Extract Context').item.json.voiceFileId }}"
      },
      "webhookId": "a2-alex-getfile",
      "credentials": {
        "telegramApi": {
          "id": "XiPoK10AazY77yJ3",
          "name": "Telegram Alex"
        }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000005",
      "name": "Whisper Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -48,
        432
      ],
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "nRdAoZYQWiPHUZf1",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000006",
      "name": "Fetch URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        624
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Extract Context').item.json.url }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000007",
      "name": "Extract Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        624
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst html = String(item.data || item.body || '');\nconst url = $('Extract Context').item.json.url;\n\nconst titleMatch = html.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/i);\nconst descMatch =\n  html.match(/<meta[^>]*name=[\"']description[\"'][^>]*content=[\"']([\\s\\S]*?)[\"']/i) ||\n  html.match(/<meta[^>]*content=[\"']([\\s\\S]*?)[\"'][^>]*name=[\"']description[\"']/i) ||\n  html.match(/<meta[^>]*property=[\"']og:description[\"'][^>]*content=[\"']([\\s\\S]*?)[\"']/i);\n\nfunction clean(s) {\n  return s.replace(/\\s+/g, ' ').trim();\n}\n\nreturn [{\n  json: {\n    url,\n    title: titleMatch ? clean(titleMatch[1]).slice(0, 200) : '',\n    description: descMatch ? clean(descMatch[1]).slice(0, 500) : ''\n  }\n}];"
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000008",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        320
      ],
      "parameters": {
        "jsCode": "const ctx = $('Extract Context').item.json;\nconst incoming = $input.first().json;\nlet userMessage = '';\n\nif (ctx.inputType === 'text') {\n  userMessage = ctx.text;\n} else if (ctx.inputType === 'voice') {\n  const transcript = incoming.text || incoming.transcript || '';\n  userMessage = `Voice note: ${transcript}`;\n} else if (ctx.inputType === 'url') {\n  const meta = incoming;\n  userMessage = `URL: ${meta.url} | title: ${meta.title || 'unknown'} | meta: ${meta.description || 'none'}`;\n  if (ctx.text && ctx.text !== meta.url && !ctx.text.startsWith('http')) {\n    userMessage = `${ctx.text}\\n\\n${userMessage}`;\n  }\n}\n\nreturn [{ json: { chatId: ctx.chatId, userMessage } }];"
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000009",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        400,
        528
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": "B0tI7wq5X9zzTWKu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-00000000000a",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        528
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Context').item.json.chatId }}",
        "contextWindowLength": 10
      }
    },
    {
      "id": "a1000000-0000-0000-0000-00000000000b",
      "name": "Alex Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        464,
        320
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "Loaded from agents/a2-alex-knowledge-assistant/system-prompt.xml at workflow import time. See that file for the canonical version."
        }
      }
    },
    {
      "id": "c0000000-0000-0000-0000-000000000001",
      "name": "queryKB",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        720,
        528
      ],
      "parameters": {
        "toolDescription": "Search the Alex Knowledge Base. Returns pages matching filters, newest first by default. Each result has `id` (page ID for follow-up ops) and `properties`. The IDs of returned results will stay in the agent's working memory for later updateEntry/archiveEntry calls.",
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/50f36c97-1e2d-45fc-8483-c8a223523077/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($fromAI('body', 'Notion databases/query POST body as a JSON object. Keys: filter (optional Notion filter object \u2014 supports compound and/or plus property filters on select/multi_select/title properties), sorts (optional, default created_time desc), page_size (optional, default 10, max 25). Example: { \"filter\": { \"property\": \"GTD Status\", \"select\": { \"equals\": \"Inbox\" } }, \"page_size\": 10 }', 'json')) }}"
      },
      "credentials": {
        "notionApi": {
          "id": "brvlRm4prk1LZUyR",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "c0000000-0000-0000-0000-000000000002",
      "name": "getEntry",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        880,
        528
      ],
      "parameters": {
        "toolDescription": "Fetch one KB page by id. Use when you need full property detail on a single entry.",
        "method": "GET",
        "url": "=https://api.notion.com/v1/pages/{{ $fromAI('pageId', 'Notion page ID (from a prior queryKB result)', 'string') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "brvlRm4prk1LZUyR",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "c0000000-0000-0000-0000-000000000003",
      "name": "createEntry",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1040,
        528
      ],
      "parameters": {
        "toolDescription": "Create a new KB entry. Use for fresh captures (ideas, links, drafts, references). Body must include parent.database_id and properties. See system prompt <NotionSchema> for property shapes.",
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($fromAI('body', 'Full Notion pages create body. Must include parent.database_id = \"50f36c97-1e2d-45fc-8483-c8a223523077\" and properties object matching the Alex KB schema (Name title, Type select, GTD Status select, Source select, Tags multi_select, Notes rich_text).', 'json')) }}"
      },
      "credentials": {
        "notionApi": {
          "id": "brvlRm4prk1LZUyR",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "c0000000-0000-0000-0000-000000000004",
      "name": "updateEntry",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1200,
        528
      ],
      "parameters": {
        "toolDescription": "Update properties of an existing KB entry by pageId. Pass only the properties you want to change.",
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $fromAI('pageId', 'Notion page ID to update (from a prior queryKB result)', 'string') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: $fromAI('properties', 'Object with the subset of properties to update, same shape as Notion page properties (e.g. { \"GTD Status\": { \"select\": { \"name\": \"Reference\" } } }).', 'json') }) }}"
      },
      "credentials": {
        "notionApi": {
          "id": "brvlRm4prk1LZUyR",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "c0000000-0000-0000-0000-000000000005",
      "name": "archiveEntry",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1360,
        528
      ],
      "parameters": {
        "toolDescription": "Archive (soft-delete) a KB entry by pageId. ONLY call this AFTER the user has explicitly confirmed deletion in the current turn (see confirmation gate in system prompt).",
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $fromAI('pageId', 'Notion page ID to archive (from a prior queryKB result)', 'string') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"archived\": true}"
      },
      "credentials": {
        "notionApi": {
          "id": "brvlRm4prk1LZUyR",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-00000000000f",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        320
      ],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Extract Context').item.json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "webhookId": "a2-alex-send-reply",
      "credentials": {
        "telegramApi": {
          "id": "XiPoK10AazY77yJ3",
          "name": "Telegram Alex"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Context": {
      "main": [
        [
          {
            "node": "Route Input Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Input Type": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch URL": {
      "main": [
        [
          {
            "node": "Extract Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Meta": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Alex Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Alex Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Alex Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "queryKB": {
      "ai_tool": [
        [
          {
            "node": "Alex Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getEntry": {
      "ai_tool": [
        [
          {
            "node": "Alex Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "createEntry": {
      "ai_tool": [
        [
          {
            "node": "Alex Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "updateEntry": {
      "ai_tool": [
        [
          {
            "node": "Alex Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "archiveEntry": {
      "ai_tool": [
        [
          {
            "node": "Alex Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Alex Agent": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "n8nWorkflowId": "3PDLYV2gpwbQCqNp",
  "_notes": "The Alex Agent's systemMessage in this exported file is a placeholder. The live workflow on n8n holds the full system prompt loaded from system-prompt.xml. The canonical version of the prompt is system-prompt.xml in this folder."
}