agents/a2-alex-knowledge-assistant/workflow.json
{
  "name": "A2 — Alex (Personal Knowledge Assistant)",
  "nodes": [
    {
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -960,
        320
      ],
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "webhookId": "a2-alex-telegram-trigger",
      "credentials": {
        "telegramApi": {
          "id": "XiPoK10AazY77yJ3",
          "name": "Telegram Alex"
        }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "Extract Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        320
      ],
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst message = msg.message || msg.channel_post || {};\nconst chatId = String(message.chat?.id || '');\nconst text = (message.text || message.caption || '').trim();\nconst voice = message.voice;\n\nlet inputType = 'text';\nlet voiceFileId = '';\nlet url = '';\n\nif (voice && voice.file_id) {\n  inputType = 'voice';\n  voiceFileId = voice.file_id;\n} else {\n  const urlMatch = text.match(/https?:\\/\\/\\S+/);\n  if (urlMatch && (text === urlMatch[0] || text.length < urlMatch[0].length + 80)) {\n    inputType = 'url';\n    url = urlMatch[0];\n  }\n}\n\nreturn [{ json: { chatId, inputType, text, voiceFileId, url } }];"
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "Route Input Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -512,
        320
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "cond-text",
                    "leftValue": "={{ $json.inputType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "cond-voice",
                    "leftValue": "={{ $json.inputType }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "cond-url",
                    "leftValue": "={{ $json.inputType }}",
                    "rightValue": "url",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "url"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000004",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -272,
        432
      ],
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Extract Context').item.json.voiceFileId }}"
      },
      "webhookId": "a2-alex-getfile",
      "credentials": {
        "telegramApi": {
          "id": "XiPoK10AazY77yJ3",
          "name": "Telegram Alex"
        }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000005",
      "name": "Whisper Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -48,
        432
      ],
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "nRdAoZYQWiPHUZf1",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000006",
      "name": "Fetch URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        624
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Extract Context').item.json.url }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000007",
      "name": "Extract Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        624
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst html = String(item.data || item.body || '');\nconst url = $('Extract Context').item.json.url;\n\nconst titleMatch = html.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/i);\nconst descMatch =\n  html.match(/<meta[^>]*name=[\"']description[\"'][^>]*content=[\"']([\\s\\S]*?)[\"']/i) ||\n  html.match(/<meta[^>]*content=[\"']([\\s\\S]*?)[\"'][^>]*name=[\"']description[\"']/i) ||\n  html.match(/<meta[^>]*property=[\"']og:description[\"'][^>]*content=[\"']([\\s\\S]*?)[\"']/i);\n\nfunction clean(s) {\n  return s.replace(/\\s+/g, ' ').trim();\n}\n\nreturn [{\n  json: {\n    url,\n    title: titleMatch ? clean(titleMatch[1]).slice(0, 200) : '',\n    description: descMatch ? clean(descMatch[1]).slice(0, 500) : ''\n  }\n}];"
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000008",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        320
      ],
      "parameters": {
        "jsCode": "const ctx = $('Extract Context').item.json;\nconst incoming = $input.first().json;\nlet userMessage = '';\n\nif (ctx.inputType === 'text') {\n  userMessage = ctx.text;\n} else if (ctx.inputType === 'voice') {\n  const transcript = incoming.text || incoming.transcript || '';\n  userMessage = `Voice note: ${transcript}`;\n} else if (ctx.inputType === 'url') {\n  const meta = incoming;\n  userMessage = `URL: ${meta.url} | title: ${meta.title || 'unknown'} | meta: ${meta.description || 'none'}`;\n  if (ctx.text && ctx.text !== meta.url && !ctx.text.startsWith('http')) {\n    userMessage = `${ctx.text}\\n\\n${userMessage}`;\n  }\n}\n\nreturn [{ json: { chatId: ctx.chatId, userMessage } }];"
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000009",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        400,
        528
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": "B0tI7wq5X9zzTWKu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-00000000000a",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        528
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Context').item.json.chatId }}",
        "contextWindowLength": 10
      }
    },
    {
      "id": "a1000000-0000-0000-0000-00000000000b",
      "name": "Alex Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        720,
        320
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "={{ $('Resolve Prompt').item.json.prompt }}"
        }
      }
    },
    {
      "id": "c0000000-0000-0000-0000-000000000001",
      "name": "queryKB",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        720,
        528
      ],
      "parameters": {
        "toolDescription": "Search the Alex Knowledge Base. Pass a Notion databases/query body (filter, sorts, page_size). Returns results with `id` and `properties`. IDs stay in working memory for follow-up updateEntry/archiveEntry.",
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/50f36c97-1e2d-45fc-8483-c8a223523077/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{payload}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "payload",
              "description": "Notion databases/query request body as a JSON object. Fields: filter (Notion filter object), sorts (default created_time desc), page_size (default 10, max 25).",
              "type": "json"
            }
          ]
        },
        "specifyHeaders": "keypair",
        "parametersHeaders": {
          "values": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28",
              "valueProvider": "fieldValue"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "brvlRm4prk1LZUyR",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "c0000000-0000-0000-0000-000000000002",
      "name": "getEntry",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        880,
        528
      ],
      "parameters": {
        "toolDescription": "Fetch one KB page by id. Use when you need full property detail on a single entry.",
        "method": "GET",
        "url": "https://api.notion.com/v1/pages/{pageId}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "placeholderDefinitions": {
          "values": [
            {
              "name": "pageId",
              "description": "Notion page ID (UUID with or without dashes) from a prior queryKB result.",
              "type": "string"
            }
          ]
        },
        "specifyHeaders": "keypair",
        "parametersHeaders": {
          "values": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28",
              "valueProvider": "fieldValue"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "brvlRm4prk1LZUyR",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "c0000000-0000-0000-0000-000000000003",
      "name": "createEntry",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1040,
        528
      ],
      "parameters": {
        "toolDescription": "Create a new KB entry. Pass a full Notion pages POST body with parent.database_id = \"50f36c97-1e2d-45fc-8483-c8a223523077\" and properties (Name title, Type select, GTD Status select, Source select, Tags multi_select, Notes rich_text).",
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{payload}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "payload",
              "description": "Notion pages POST body as a JSON object. Must include parent.database_id and properties matching the Alex KB schema.",
              "type": "json"
            }
          ]
        },
        "specifyHeaders": "keypair",
        "parametersHeaders": {
          "values": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28",
              "valueProvider": "fieldValue"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "brvlRm4prk1LZUyR",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "c0000000-0000-0000-0000-000000000004",
      "name": "updateEntry",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1200,
        528
      ],
      "parameters": {
        "toolDescription": "Update an existing KB entry by pageId. Pass a body with a `properties` object containing only the properties you want to change.",
        "method": "PATCH",
        "url": "https://api.notion.com/v1/pages/{pageId}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{payload}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "pageId",
              "description": "Notion page ID (UUID with or without dashes) from a prior queryKB result.",
              "type": "string"
            },
            {
              "name": "payload",
              "description": "Notion pages PATCH body as a JSON object: { properties: { ... } } with only the keys to update.",
              "type": "json"
            }
          ]
        },
        "specifyHeaders": "keypair",
        "parametersHeaders": {
          "values": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28",
              "valueProvider": "fieldValue"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "brvlRm4prk1LZUyR",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "c0000000-0000-0000-0000-000000000005",
      "name": "archiveEntry",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1360,
        528
      ],
      "parameters": {
        "toolDescription": "Archive (soft-delete) a KB entry by pageId. ONLY call this AFTER the user has explicitly confirmed deletion in the current turn (see confirmation gate in system prompt).",
        "method": "PATCH",
        "url": "https://api.notion.com/v1/pages/{pageId}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"archived\": true}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "pageId",
              "description": "Notion page ID (UUID with or without dashes) from a prior queryKB result.",
              "type": "string"
            }
          ]
        },
        "specifyHeaders": "keypair",
        "parametersHeaders": {
          "values": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28",
              "valueProvider": "fieldValue"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "brvlRm4prk1LZUyR",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-00000000000f",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        320
      ],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Extract Context').item.json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "webhookId": "a2-alex-send-reply",
      "credentials": {
        "telegramApi": {
          "id": "XiPoK10AazY77yJ3",
          "name": "Telegram Alex"
        }
      }
    },
    {
      "id": "a2-node-fetch-prompt",
      "name": "Fetch Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        320
      ],
      "parameters": {
        "url": "https://raw.githubusercontent.com/IAMJURI8/ctrl-ai-registry/main/agents/a2-alex-knowledge-assistant/system-prompt.xml",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "responseFormat": "text",
              "fullResponse": true
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "a2-node-resolve-prompt",
      "name": "Resolve Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        320
      ],
      "parameters": {
        "jsCode": "const httpItem = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.promptCache) staticData.promptCache = {};\nconst AGENT_ID = 'a2';\nconst CACHE_KEY = `prompt_cache_${AGENT_ID}`;\nconst TTL_MS = 5 * 60 * 1000;\nconst now = Date.now();\nconst rawBody = httpItem.data ?? httpItem.body;\nconst body = typeof rawBody === 'string' ? rawBody : '';\nconst httpOk = httpItem.statusCode === 200 && body.trim().length > 100;\nlet prompt;\nlet source;\nif (httpOk) {\n  prompt = body;\n  staticData.promptCache[CACHE_KEY] = { prompt, ts: now };\n  source = 'live';\n} else {\n  const cached = staticData.promptCache[CACHE_KEY];\n  if (!cached || !cached.prompt) {\n    throw new Error(`[${AGENT_ID}] Prompt fetch failed (status ${httpItem.statusCode}) and no cache available`);\n  }\n  prompt = cached.prompt;\n  const ageMin = Math.round((now - cached.ts) / 60000);\n  source = (now - cached.ts) > TTL_MS ? 'cache-stale' : 'cache';\n  console.log(`[${AGENT_ID}] FALLBACK: HTTP ${httpItem.statusCode}, serving cached prompt (age ${ageMin}m, source=${source})`);\n}\nconst upstream = $('Build Prompt').item.json;\nreturn [{ json: { ...upstream, prompt, source, agent: AGENT_ID, promptLen: prompt.length } }];"
      }
    },
    {
      "id": "dd73f209-ee61-4d64-b877-6f7c0c8f2522",
      "name": "Prepare Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        720
      ],
      "parameters": {
        "jsCode": "const CHARS_PER_TOKEN = 3.5;\nconst output = $json.output || '';\nconst userText = $('Build Prompt').item.json.userMessage || '';\nconst systemPrompt = $('Resolve Prompt').item.json.prompt || '';\nconst inputChars = systemPrompt.length + userText.length;\nconst outputChars = output.length;\nconst inputTokens = Math.ceil(inputChars / CHARS_PER_TOKEN);\nconst outputTokens = Math.ceil(outputChars / CHARS_PER_TOKEN);\nreturn [{\n  json: {\n    __monitor_body: {\n      agent_name: 'alex',\n      provider: 'anthropic',\n      model: 'claude-sonnet-4-5-20250929',\n      input_tokens: inputTokens,\n      output_tokens: outputTokens,\n      cache_read_tokens: 0,\n      cache_write_tokens: 0,\n      workflow_run_id: $execution.id,\n      metadata: {\n        estimated: true,\n        chat_id: $('Extract Context').item.json.chatId,\n        input_type: $('Extract Context').item.json.inputType,\n        system_prompt_chars: systemPrompt.length,\n        user_text_chars: userText.length,\n        output_chars: outputChars\n      }\n    }\n  }\n}];"
      }
    },
    {
      "id": "1360d5a8-2e88-4f1b-8895-207e5ea06bab",
      "name": "Log to Monitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        720
      ],
      "parameters": {
        "method": "POST",
        "url": "https://monitor.controlplusai.com/api/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "REDACTED_ROTATED_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.__monitor_body) }}",
        "options": {
          "timeout": 5000
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Context": {
      "main": [
        [
          {
            "node": "Route Input Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Input Type": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch URL": {
      "main": [
        [
          {
            "node": "Extract Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Meta": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Alex Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Alex Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "queryKB": {
      "ai_tool": [
        [
          {
            "node": "Alex Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getEntry": {
      "ai_tool": [
        [
          {
            "node": "Alex Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "createEntry": {
      "ai_tool": [
        [
          {
            "node": "Alex Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "updateEntry": {
      "ai_tool": [
        [
          {
            "node": "Alex Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "archiveEntry": {
      "ai_tool": [
        [
          {
            "node": "Alex Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Alex Agent": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Fetch Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Prompt": {
      "main": [
        [
          {
            "node": "Resolve Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Prompt": {
      "main": [
        [
          {
            "node": "Alex Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log": {
      "main": [
        [
          {
            "node": "Log to Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "n8nWorkflowId": "3PDLYV2gpwbQCqNp"
}
