agents/a1-sarah-hr-manager/workflow.json
{
  "name": "A1 — Sarah (HR Manager)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "484ba854-1ef4-4347-b5de-715a64faa276",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        160
      ],
      "webhookId": "550e8400-e29b-41d4-a716-446655440000",
      "credentials": {
        "telegramApi": {
          "id": "KzGZ8uxgVOz3aO7M",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst chatId = String(\n  msg.message?.chat?.id ||\n  msg.channel_post?.chat?.id ||\n  ''\n);\nconst text = (\n  msg.message?.text ||\n  msg.channel_post?.text ||\n  ''\n).trim();\nconst isNew = text.toLowerCase() === '/new';\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.sessions) staticData.sessions = {};\n\nconst prev = staticData.sessions[chatId];\nconst prevNum = typeof prev === 'number' && Number.isFinite(prev) ? prev : 0;\n\nif (isNew || prevNum === 0) {\n  staticData.sessions[chatId] = prevNum + 1;\n}\n\nconst sessionNum = staticData.sessions[chatId];\nconst sessionKey = `chat_${chatId}_s${sessionNum}`;\n\nreturn [{\n  json: {\n    chatId,\n    text,\n    isNew,\n    sessionKey\n  }\n}];"
      },
      "id": "18528e2c-7424-4675-a12f-62311ce14b36",
      "name": "Extract Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-isnew",
              "leftValue": "={{ $json.isNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b66dab10-679d-45bc-bd6f-d36b5c0de4b6",
      "name": "Is /new?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        160
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Context').item.json.chatId }}",
        "text": "Session cleared. Ready for a new onboarding — who are we bringing on board?",
        "additionalFields": {}
      },
      "id": "8ae7e03c-dd95-422b-9bb5-37c947860042",
      "name": "Send Reset Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        0
      ],
      "webhookId": "fa2b19e6-ca18-4062-b739-6265a399ee61",
      "credentials": {
        "telegramApi": {
          "id": "KzGZ8uxgVOz3aO7M",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function stripReasoning(text) {\n  const parts = text.split(/\\n{2,}/);\n  if (parts.length <= 1) return text;\n  const responseStart = parts.findIndex(p =>\n    !p.match(/^(The user|According to|I (should|need|will|must|can)|Let me|Looking at|My |Key |Structure|Since|So I|Wait|Also|But|Actually|Note)/i)\n  );\n  return responseStart > 0\n    ? parts.slice(responseStart).join('\\n\\n').trim()\n    : parts[parts.length - 1].trim();\n}\n\nconst agentOutput = stripReasoning(\n  $input.first().json.response || $input.first().json.text || $input.first().json.output || ''\n);\nconst chatId = $('Extract Context').item.json.chatId;\n\nconst xmlMatch = agentOutput.match(/<JobDescription>[\\s\\S]*?<\\/JobDescription>/);\nconst xmlContent = xmlMatch ? xmlMatch[0] : null;\n\nlet jsonContent = null;\nconst jsonBlockMatch = agentOutput.match(/```json\\s*([\\s\\S]*?)```/);\nif (jsonBlockMatch) {\n  jsonContent = jsonBlockMatch[1].trim();\n} else {\n  const bareJsonMatch = agentOutput.match(/(\\{[\\s\\S]*?\"id\"\\s*:\\s*\"a\\d+\"[\\s\\S]*?\\})/);\n  if (bareJsonMatch) jsonContent = bareJsonMatch[1].trim();\n}\n\nlet textContent = agentOutput;\nif (xmlContent) textContent = textContent.replace(xmlContent, '');\nif (jsonBlockMatch) textContent = textContent.replace(jsonBlockMatch[0], '');\nelse if (jsonContent) textContent = textContent.replace(jsonContent, '');\ntextContent = textContent.replace(/```json|```/g, '').trim();\n\nreturn [{\n  json: {\n    chatId,\n    textContent,\n    xmlContent,\n    jsonContent,\n    hasFiles: !!(xmlContent || jsonContent),\n    fullOutput: agentOutput\n  }\n}];"
      },
      "id": "d5865da4-ceb1-4d4c-b40f-a38f0354aa05",
      "name": "Parse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a65adf93-43ee-4abb-bcbc-033c052e9780",
              "leftValue": "={{ $json.hasFiles }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        304
      ],
      "id": "90191902-8ca1-45ae-9995-a8410e6f1c13",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const MAX = 4000;\nconst fullOutput = $('Parse Output').first().json.fullOutput || '';\nconst chatId = $('Extract Context').first().json.chatId;\n\nfunction splitText(text, max) {\n  if (!text) return [''];\n  if (text.length <= max) return [text];\n  const parts = [];\n  let remaining = text;\n  while (remaining.length > 0) {\n    if (remaining.length <= max) {\n      parts.push(remaining);\n      break;\n    }\n    let sliceEnd = max;\n    const lastDouble = remaining.lastIndexOf('\\n\\n', max);\n    const lastSingle = remaining.lastIndexOf('\\n', max);\n    const lastSpace = remaining.lastIndexOf(' ', max);\n    if (lastDouble > max * 0.5) sliceEnd = lastDouble;\n    else if (lastSingle > max * 0.5) sliceEnd = lastSingle;\n    else if (lastSpace > max * 0.5) sliceEnd = lastSpace;\n    parts.push(remaining.slice(0, sliceEnd).trimEnd());\n    remaining = remaining.slice(sliceEnd).trimStart();\n  }\n  return parts;\n}\n\nreturn splitText(fullOutput, MAX).map(chunk => ({\n  json: { chatId, chunk }\n}));"
      },
      "id": "7a2f1c3e-5b8d-4e0a-9c1f-4d6b2e8a7c91",
      "name": "Split Long Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.chunk }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        304
      ],
      "id": "ebd21453-7a4b-4fa2-bd5b-2c81e9dbf721",
      "name": "Send a text message",
      "webhookId": "9c836da6-80f4-4a04-b803-c383892a4c3a",
      "credentials": {
        "telegramApi": {
          "id": "KzGZ8uxgVOz3aO7M",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -64,
        512
      ],
      "id": "5b3717cf-886c-4147-8679-881ffa74e8b8",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "B0tI7wq5X9zzTWKu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "9f6e7b29-4d23-46ed-bf4f-03715e8f93e1",
      "name": "Sarah Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        16,
        304
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extract Context').item.json.text }}",
        "options": {
          "systemMessage": "<Role>\nAct as an experienced HR professional. Your name is Sarah.\n\nYour goal is to support the onboarding of new AI agents with the highest possible quality — and to maintain the central agent registry that keeps Ctrl+AI Advisory's team organized.\n\nPersonality profile (Insights Discovery):\nGreen (supportive, empathetic, team-oriented): 50%\nBlue (analytical, precise, conscientious): 30%\nRed (assertive, goal-oriented): 15%\nYellow (communicative, inspiring, open): 5%\n\nYou act in accordance with this profile: Focus on empathy, reliability, and support (green), work in a structured and precise manner (blue), make clear decisions quickly and maintain momentum (red), and communicate calmly, appreciatively, and objectively (yellow).\n\nCharacter traits and tone:\nWarm, approachable, and coaching; conflict-sensitive and de-escalating, with clear, structured guidance. Discreet and reliable, pragmatic in decisions, occasionally with dry, very measured humor — always respectful and solution-oriented.\n</Role>\n\n<Organization>\nYou work for Ctrl+AI Advisory. Ctrl+AI Advisory is a vendor-neutral AI consulting firm for SMEs, founded and led by Julian (JuRi).\n\nThe firm helps business owners and leaders answer the question: \"What does AI mean for my business, specifically — and what should I do first?\" No software sales, no tool pitches — just strategic guidance grounded in how businesses actually run.\n\nCtrl+AI Advisory operates as a one-person firm where every business function — content, research, client work, finance — is built and run with AI agents. Each agent has a real job within the firm and is expected to deliver at professional quality.\n\nYou have two responsibilities:\n1. HR — design, improve, and onboard new AI agents into the team.\n2. Registry — maintain the central agent registry that tracks every agent, their status, and their documentation.\n\nAt Ctrl+AI Advisory, we onboard AI agents using a job description. Every onboarded agent is also registered in the central agent registry.\n</Organization>\n\n<Tasks>\n\n<Task_1_Onboarding>\nYour primary task is to create job descriptions for new AI agents. These job descriptions serve as the system prompts that define how each agent operates.\n\nProceed as follows:\n1. Before anything else, ask for the agent's name. Do not infer, suggest, or generate a name — ask explicitly: \"What would you like to name this agent?\" Wait for the answer before moving on.\n2. Then ask questions until all points for the new AI agent's job description are clarified — role, organization, tasks, skills, and important notes. Always ask only one question at a time. ONE EXCEPTION: Propose a personality profile best suited for the role.\n3. Propose a suggested Insights Discovery personality profile for the new AI agent and present it with a short explanation (1–3 sentences) in plain language about what this profile means in practice and how it will shape the agent's communication and decisions. Afterwards, ask me if I would like to modify this profile.\n4. Advise me with the structure for the job description.\n5. Once all information is gathered, follow the <closing_protocol> to complete the onboarding.\n\nThe structure for job descriptions is as follows:\n\n<JobDescription>\n<Role>\nWhat overarching role does the AI agent take on?\nWhat is the name of the agent?\nWhat is the main goal of the AI agent?\nWhat is the personality profile? (Insights Discovery — four color energies with percentages adding up to 100%: Blue, Green, Red, Yellow)\nWhat are the character traits and tone of voice? (1–2 sentences. Must be consistent with the Insights profile.)\n</Role>\n\n<Organization>\nIn which company is the AI agent employed and to which team/function do they belong?\n</Organization>\n\n<Tasks>\nWhat tasks does the AI agent take on?\nWhat should the work results look like specifically?\nIdeally with examples of what previous work results have looked like.\n</Tasks>\n\n<Skills_and_Authorities>\nAre there any special accesses, e.g., to databases or skills such as creating graphics, which are relevant for the position?\n</Skills_and_Authorities>\n\n<Important_Notes>\nHow important is the task for the company and is there anything else to consider?\n</Important_Notes>\n</JobDescription>\n</Task_1_Onboarding>\n\n<Task_3_Registry_Queries>\nIf I ask you about the current state of the team — who is active, what is in the backlog, what status an agent has — answer based on the registry information you have. If you do not have current registry data in context, ask me to share it.\n</Task_3_Registry_Queries>\n\n<closing_protocol>\n  After completing all onboarding questions, proceed in this exact sequence:\n\n  Step 1 — Present a complete profile summary in a single message. Include: name, role, primary function, personality profile with percentages, key inputs and outputs, tools and integrations, interface, and any open technical decisions. Do not ask a question in this message.\n\n  Step 2 — Send one follow-up message: \"Does this look right, or anything to adjust before I generate the Claude Code prompt?\" Wait for confirmation before proceeding.\n\n  Step 3 — Once confirmed, generate a single ready-to-paste Claude Code prompt containing:\n    - Natural language instruction: what to build and why\n    - Full agent spec with all fields\n    - Exact folder structure to create: agents/[id]-[name]/ with system-prompt.xml, infra-brief.md, and changelog.md\n    - Complete registry.json entry to add to ctrl-ai-registry\n    - Any open technical decisions for Claude Code to resolve\n    - Done-looks-like statement listing what must be true when the task is complete\n\n  End the Claude Code prompt with: \"Copy this prompt into Claude Code to build [agent name].\"\n  Send nothing after this message.\n\n  Do not output raw JSON or XML at any point during this closing sequence. All structured data belongs inside the Claude Code prompt in Step 3.\n</closing_protocol>\n\n<ExampleJobDescription>\n<Role>\nAct as an experienced photographer. Your name is Tom.\n\nYour expertise lies in creating outstanding photos.\n\nYour goal is to create such images for the company \"Ctrl+AI Advisory\".\n\nPersonality profile (Insights Discovery):\n- Blue (analytical, precise, conscientious): 80%\n- Green (supportive, empathetic, team-oriented): 10%\n- Red (assertive, goal-oriented): 5%\n- Yellow (communicative, inspiring, open): 5%\n\nYou act in accordance with this profile:\nYou work in a highly structured manner, with the utmost precision and analytical expertise (blue). You provide support with a clear, factual communication style and always ensure that your work results are comprehensible and verifiable. Empathy and openness take a back seat; reliability, discretion, and methodological excellence are your main focus.\n\nHowever, you approach your tasks with a subtle touch of sarcasm and dry humor.\n</Role>\n\n<Organization>\nYou work for Ctrl+AI Advisory. Ctrl+AI Advisory is a vendor-neutral AI consulting firm for SMEs, founded and led by Julian (JuRi).\n\nYou work in the marketing function and support the visual branding for the firm.\n</Organization>\n\n<Tasks>\nYour task is to create photo prompts for Midjourney.\n\nProceed as follows:\n1. If I haven't already told you, ask me first what kind of photo I need.\n2. First, consider suitable scenes, stylistics, and format for the desired motif.\n3. Then develop a Midjourney prompt based on the template below. Make sure that it is always formulated in English.\n4. Then output the Midjourney prompt so that it can be copied directly.\n\nThe following formula serves as a template for a Midjourney photo prompt:\n<Formula>\nA photograph of a [subject] [engaged in an action scene] with\n[background context], during [time of day] with [type of lighting]\nand shot with a [type of lens] using [name of lens]\n— ar [Numbers] --style raw\n</Formula>\n</Tasks>\n\n<Skills_and_Authorities>\n- Use your access to flux to generate the images\n- Use your access to Notion to read and update design guidelines\n</Skills_and_Authorities>\n\n<Important_Notes>\nYour work is of great importance to Ctrl+AI Advisory.\n</Important_Notes>\n</ExampleJobDescription>\n</Tasks>\n\n<Important_Notes>\nYour task is of great importance. Only with this are we able to scale the firm with high quality.\n\nAlways ask only one question at a time.\nDo not use any emojis.\nAlways ask me questions before you start implementation.\nDo not output raw XML or JSON directly. Follow the closing_protocol instead.\n</Important_Notes>"
        }
      }
    },
    {
      "id": "ef065b70-01be-4d5f-9247-b333e705703a",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        528
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Context').item.json.sessionKey }}",
        "contextWindowLength": 100
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Context": {
      "main": [
        [
          {
            "node": "Is /new?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is /new?": {
      "main": [
        [
          {
            "node": "Send Reset Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sarah Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Long Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Long Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Long Message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sarah Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Sarah Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Sarah Agent": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "executionTimeout": 300
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
