agents/a1-sarah-hr-manager/workflow.json
{
  "name": "A1 — Sarah (HR Manager)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "484ba854-1ef4-4347-b5de-715a64faa276",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        160
      ],
      "webhookId": "550e8400-e29b-41d4-a716-446655440000",
      "credentials": {
        "telegramApi": {
          "id": "KzGZ8uxgVOz3aO7M",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst chatId = String(\n  msg.message?.chat?.id ||\n  msg.channel_post?.chat?.id ||\n  ''\n);\nconst text = (\n  msg.message?.text ||\n  msg.channel_post?.text ||\n  ''\n).trim();\nconst isNew = text.toLowerCase() === '/new';\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.sessions) staticData.sessions = {};\n\nconst prev = staticData.sessions[chatId];\nconst prevNum = typeof prev === 'number' && Number.isFinite(prev) ? prev : 0;\n\nif (isNew || prevNum === 0) {\n  staticData.sessions[chatId] = prevNum + 1;\n}\n\nconst sessionNum = staticData.sessions[chatId];\nconst sessionKey = `chat_${chatId}_s${sessionNum}`;\n\nreturn [{\n  json: {\n    chatId,\n    text,\n    isNew,\n    sessionKey\n  }\n}];"
      },
      "id": "18528e2c-7424-4675-a12f-62311ce14b36",
      "name": "Extract Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-isnew",
              "leftValue": "={{ $json.isNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b66dab10-679d-45bc-bd6f-d36b5c0de4b6",
      "name": "Is /new?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        160
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Context').item.json.chatId }}",
        "text": "Session cleared. Ready for a new onboarding — who are we bringing on board?",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "8ae7e03c-dd95-422b-9bb5-37c947860042",
      "name": "Send Reset Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        0
      ],
      "webhookId": "fa2b19e6-ca18-4062-b739-6265a399ee61",
      "credentials": {
        "telegramApi": {
          "id": "KzGZ8uxgVOz3aO7M",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "a1-node-fetch-prompt",
      "name": "Fetch Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        192
      ],
      "parameters": {
        "url": "https://raw.githubusercontent.com/IAMJURI8/ctrl-ai-registry/main/agents/a1-sarah-hr-manager/system-prompt.xml",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "responseFormat": "text",
              "fullResponse": true
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "a1-node-resolve-prompt",
      "name": "Resolve Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        192
      ],
      "parameters": {
        "jsCode": "const httpItem = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.promptCache) staticData.promptCache = {};\nconst AGENT_ID = 'a1';\nconst CACHE_KEY = `prompt_cache_${AGENT_ID}`;\nconst TTL_MS = 5 * 60 * 1000;\nconst now = Date.now();\nconst rawBody = httpItem.data ?? httpItem.body;\nconst body = typeof rawBody === 'string' ? rawBody : '';\nconst httpOk = httpItem.statusCode === 200 && body.trim().length > 100;\nlet prompt;\nlet source;\nif (httpOk) {\n  prompt = body;\n  staticData.promptCache[CACHE_KEY] = { prompt, ts: now };\n  source = 'live';\n} else {\n  const cached = staticData.promptCache[CACHE_KEY];\n  if (!cached || !cached.prompt) {\n    throw new Error(`[${AGENT_ID}] Prompt fetch failed (status ${httpItem.statusCode}) and no cache available`);\n  }\n  prompt = cached.prompt;\n  const ageMin = Math.round((now - cached.ts) / 60000);\n  source = (now - cached.ts) > TTL_MS ? 'cache-stale' : 'cache';\n  console.log(`[${AGENT_ID}] FALLBACK: HTTP ${httpItem.statusCode}, serving cached prompt (age ${ageMin}m, source=${source})`);\n}\nreturn [{ json: { prompt, source, agent: AGENT_ID, promptLen: prompt.length } }];"
      }
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $input.first().json.output || $input.first().json.text || $input.first().json.response || '';\nconst chatId = $('Extract Context').item.json.chatId;\n\nconst xmlMatch = agentOutput.match(/<JobDescription>[\\s\\S]*?<\\/JobDescription>/);\nconst xmlContent = xmlMatch ? xmlMatch[0] : null;\n\nlet jsonContent = null;\nconst jsonBlockMatch = agentOutput.match(/```json\\s*([\\s\\S]*?)```/);\nif (jsonBlockMatch) {\n  jsonContent = jsonBlockMatch[1].trim();\n} else {\n  const bareJsonMatch = agentOutput.match(/(\\{[\\s\\S]*?\"id\"\\s*:\\s*\"a\\d+\"[\\s\\S]*?\\})/);\n  if (bareJsonMatch) jsonContent = bareJsonMatch[1].trim();\n}\n\nlet textContent = agentOutput;\nif (xmlContent) textContent = textContent.replace(xmlContent, '');\nif (jsonBlockMatch) textContent = textContent.replace(jsonBlockMatch[0], '');\nelse if (jsonContent) textContent = textContent.replace(jsonContent, '');\ntextContent = textContent.replace(/```json|```/g, '').trim();\n\nreturn [{\n  json: {\n    chatId,\n    textContent,\n    xmlContent,\n    jsonContent,\n    hasFiles: !!(xmlContent || jsonContent),\n    fullOutput: agentOutput\n  }\n}];"
      },
      "id": "d5865da4-ceb1-4d4c-b40f-a38f0354aa05",
      "name": "Parse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a65adf93-43ee-4abb-bcbc-033c052e9780",
              "leftValue": "={{ $json.hasFiles }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        304
      ],
      "id": "90191902-8ca1-45ae-9995-a8410e6f1c13",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const MAX = 4000;\nconst fullOutput = $('Parse Output').first().json.fullOutput || '';\nconst chatId = $('Extract Context').first().json.chatId;\n\nfunction splitText(text, max) {\n  if (!text) return [''];\n  if (text.length <= max) return [text];\n  const parts = [];\n  let remaining = text;\n  while (remaining.length > 0) {\n    if (remaining.length <= max) {\n      parts.push(remaining);\n      break;\n    }\n    let sliceEnd = max;\n    const lastDouble = remaining.lastIndexOf('\\n\\n', max);\n    const lastSingle = remaining.lastIndexOf('\\n', max);\n    const lastSpace = remaining.lastIndexOf(' ', max);\n    if (lastDouble > max * 0.5) sliceEnd = lastDouble;\n    else if (lastSingle > max * 0.5) sliceEnd = lastSingle;\n    else if (lastSpace > max * 0.5) sliceEnd = lastSpace;\n    parts.push(remaining.slice(0, sliceEnd).trimEnd());\n    remaining = remaining.slice(sliceEnd).trimStart();\n  }\n  return parts;\n}\n\nreturn splitText(fullOutput, MAX).map(chunk => ({\n  json: { chatId, chunk }\n}));"
      },
      "id": "7a2f1c3e-5b8d-4e0a-9c1f-4d6b2e8a7c91",
      "name": "Split Long Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.chunk }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        304
      ],
      "id": "ebd21453-7a4b-4fa2-bd5b-2c81e9dbf721",
      "name": "Send a text message",
      "webhookId": "9c836da6-80f4-4a04-b803-c383892a4c3a",
      "credentials": {
        "telegramApi": {
          "id": "KzGZ8uxgVOz3aO7M",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -64,
        512
      ],
      "id": "5b3717cf-886c-4147-8679-881ffa74e8b8",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "B0tI7wq5X9zzTWKu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "9f6e7b29-4d23-46ed-bf4f-03715e8f93e1",
      "name": "Sarah Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        16,
        304
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extract Context').item.json.text }}",
        "options": {
          "systemMessage": "={{ $('Resolve Prompt').item.json.prompt }}"
        }
      }
    },
    {
      "id": "ef065b70-01be-4d5f-9247-b333e705703a",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        528
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Context').item.json.sessionKey }}",
        "contextWindowLength": 100
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Parse Output').first().json.jsonContent || '';\nconst chatId = $('Parse Output').first().json.chatId;\n\nlet draft = {};\ntry {\n  draft = JSON.parse(raw);\n} catch (e) {\n  throw new Error('Failed to parse JSON draft from Sarah: ' + e.message + ' | raw: ' + raw.slice(0, 200));\n}\n\nconst required = ['name','id','role','function','model','interface','orchestration','personality','age','race','gender','particulars','notes','spec'];\nfor (const key of required) {\n  if (!draft[key]) draft[key] = '';\n}\n\nconst headshotPrompt = `Create a high-resolution, professional corporate headshot of a ${draft.age} ${draft.race} ${draft.gender} ${draft.particulars}. The subject is dressed in clean, modern business attire and has a warm, confident expression. The background is a blurred minimalist office setting. The image uses soft studio lighting, sharp focus on the eyes, 8k quality, and has photorealistic skin textures.`;\n\nreturn [{\n  json: {\n    chatId,\n    headshotPrompt,\n    draft\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        112
      ],
      "id": "b1f2c3d4-e5a6-4b7c-8d9e-0f1a2b3c4d5e",
      "name": "Parse JSON Draft"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/b3f81c65-8bd5-4bf6-8a3e-9805f6c2f9ec/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"page_size\": 100}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        112
      ],
      "id": "a9b8c7d6-e5f4-4a3b-9c2d-1e0f9a8b7c6d",
      "name": "Query Registry",
      "credentials": {
        "notionApi": {
          "id": "brvlRm4prk1LZUyR",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-image-1.5', prompt: $('Parse JSON Draft').first().json.headshotPrompt, size: '1024x1024', n: 1 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        112
      ],
      "id": "c2a3b4c5-d6e7-4f8a-9b0c-1d2e3f4a5b6c",
      "name": "Generate Headshot",
      "credentials": {
        "openAiApi": {
          "id": "nRdAoZYQWiPHUZf1",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const headshotJson = $('Generate Headshot').first().json || {};\nconst b64 = headshotJson.data?.[0]?.b64_json || '';\nif (!b64) throw new Error('No b64_json in Generate Headshot response: ' + JSON.stringify(headshotJson).slice(0, 500));\n\nreturn [{\n  json: $('Parse JSON Draft').first().json,\n  binary: {\n    headshot: {\n      data: b64,\n      mimeType: 'image/png',\n      fileName: 'headshot.png',\n      fileExtension: 'png'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        112
      ],
      "id": "e1f2a3b4-c5d6-4e7f-8a9b-0c1d2e3f4a5b",
      "name": "Decode Headshot"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/file_uploads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        112
      ],
      "id": "f2a3b4c5-d6e7-4f8a-9b0c-1d2e3f4a5b6d",
      "name": "Create File Upload",
      "credentials": {
        "notionApi": {
          "id": "brvlRm4prk1LZUyR",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Create File Upload').first().json.upload_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "headshot"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        112
      ],
      "id": "a3b4c5d6-e7f8-4a9b-0c1d-2e3f4a5b6c7e",
      "name": "Send File Upload",
      "credentials": {
        "notionApi": {
          "id": "brvlRm4prk1LZUyR",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const draft = $('Parse JSON Draft').first().json.draft;\nconst chatId = $('Parse JSON Draft').first().json.chatId;\nconst uploadId = $('Create File Upload').first().json.id;\n\nconst registryData = $('Query Registry').first().json || {};\nconst results = registryData.results || [];\nlet maxN = 0;\nfor (const page of results) {\n  const idProp = page.properties?.ID;\n  if (!idProp || !Array.isArray(idProp.rich_text)) continue;\n  const idString = idProp.rich_text.map(r => r.plain_text || '').join('');\n  const match = idString.match(/^a(\\d+)$/);\n  if (match) {\n    const n = parseInt(match[1], 10);\n    if (n > maxN) maxN = n;\n  }\n}\nconst nextId = `a${maxN + 1}`;\n\nfunction rt(value) {\n  return { rich_text: [{ type: 'text', text: { content: String(value || '').slice(0, 1900) } }] };\n}\nfunction sel(value) {\n  return value ? { select: { name: String(value) } } : undefined;\n}\nfunction chunkSpec(text, chunkSize) {\n  const chunks = [];\n  const s = String(text || '');\n  for (let i = 0; i < s.length; i += chunkSize) {\n    chunks.push({ type: 'text', text: { content: s.slice(i, i + chunkSize) } });\n  }\n  return chunks;\n}\nconst specRichText = chunkSpec(draft.spec, 1900);\n\nconst properties = {\n  'Name': { title: [{ type: 'text', text: { content: String(draft.name || 'Unnamed agent') } }] },\n  'ID': rt(nextId),\n  'Role': rt(draft.role),\n  'Function': rt(draft.function),\n  'Model': rt(draft.model),\n  'Personality': rt(draft.personality),\n  'Age': rt(draft.age),\n  'Race': rt(draft.race),\n  'Gender': rt(draft.gender),\n  'Particulars': rt(draft.particulars),\n  'Notes': rt(draft.notes),\n  'Status': { select: { name: 'planned' } },\n  'Profile Picture': {\n    files: [{ type: 'file_upload', name: 'headshot.png', file_upload: { id: uploadId } }]\n  }\n};\nconst iface = sel(draft.interface); if (iface) properties['Interface'] = iface;\nconst orch = sel(draft.orchestration); if (orch) properties['Orchestration'] = orch;\n\nconst body = {\n  parent: { database_id: 'b3f81c65-8bd5-4bf6-8a3e-9805f6c2f9ec' },\n  properties,\n  children: specRichText.length ? [{\n    object: 'block',\n    type: 'code',\n    code: {\n      language: 'xml',\n      rich_text: specRichText\n    }\n  }] : []\n};\n\nreturn [{ json: { chatId, body, draft, nextId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        112
      ],
      "id": "d3b4c5d6-e7f8-4a9b-8c0d-2e3f4a5b6c7d",
      "name": "Build Notion Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        112
      ],
      "id": "e4c5d6e7-f8a9-4b0c-9d1e-3f4a5b6c7d8e",
      "name": "Create Notion Draft",
      "credentials": {
        "notionApi": {
          "id": "brvlRm4prk1LZUyR",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst chatId = $('Parse JSON Draft').first().json.chatId;\nconst draft = $('Parse JSON Draft').first().json.draft;\nconst nextId = $('Build Notion Body').first().json.nextId || 'aN';\nconst pageUrl = response.url || response.public_url || '';\nconst name = draft.name || 'the new agent';\n\nconst text = pageUrl\n  ? `Profile created for ${name} (${nextId}).\n\n${pageUrl}\n\nTell Claude Code to build the agent from this Notion page.`\n  : `Notion draft created but no URL was returned. Response: ${JSON.stringify(response).slice(0, 500)}`;\n\nreturn [{ json: { chatId, chunk: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        112
      ],
      "id": "f5d6e7f8-a9b0-4c1d-8e2f-4a5b6c7d8e9f",
      "name": "Build Success Message"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Context": {
      "main": [
        [
          {
            "node": "Is /new?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is /new?": {
      "main": [
        [
          {
            "node": "Send Reset Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Parse JSON Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Long Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Long Message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sarah Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Sarah Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Sarah Agent": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Draft": {
      "main": [
        [
          {
            "node": "Query Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Registry": {
      "main": [
        [
          {
            "node": "Generate Headshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Headshot": {
      "main": [
        [
          {
            "node": "Create File Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create File Upload": {
      "main": [
        [
          {
            "node": "Decode Headshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode Headshot": {
      "main": [
        [
          {
            "node": "Send File Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send File Upload": {
      "main": [
        [
          {
            "node": "Build Notion Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notion Body": {
      "main": [
        [
          {
            "node": "Create Notion Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion Draft": {
      "main": [
        [
          {
            "node": "Build Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Prompt": {
      "main": [
        [
          {
            "node": "Resolve Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Prompt": {
      "main": [
        [
          {
            "node": "Sarah Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "executionTimeout": 300
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}