agents/a4-francis/workflow.json
{
  "name": "A4 — Francis (LinkedIn Content Creator)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "a4-node-01",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        192
      ],
      "webhookId": "41716dde-8622-443f-b270-848a1bd9b778",
      "credentials": {
        "telegramApi": {
          "id": "AXoba8CinTHCfebr",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst chatId = String(\n  msg.message?.chat?.id ||\n  msg.channel_post?.chat?.id ||\n  ''\n);\nconst text = (\n  msg.message?.text ||\n  msg.channel_post?.text ||\n  ''\n).trim();\nconst lower = text.toLowerCase();\nconst isNew = lower === '/new';\nconst isPostCommand = lower === '/post';\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.sessions) staticData.sessions = {};\nif (!staticData.pending) staticData.pending = {};\n\nif (isNew) {\n  const id = Date.now().toString(36) + Math.random().toString(36).slice(2);\n  staticData.sessions[chatId] = id;\n  staticData.pending[chatId] = null;\n} else if (!staticData.sessions[chatId]) {\n  const id = Date.now().toString(36) + Math.random().toString(36).slice(2);\n  staticData.sessions[chatId] = id;\n}\n\nconst pendingPost = staticData.pending[chatId] || null;\nconst isPost = isPostCommand && !!pendingPost;\n\nreturn [{\n  json: {\n    chatId,\n    text,\n    isNew,\n    isPost,\n    sessionId: staticData.sessions[chatId],\n    pendingPost\n  }\n}];"
      },
      "id": "a4-node-02",
      "name": "Extract Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a4-cond-isnew",
              "leftValue": "={{ $json.isNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a4-node-03",
      "name": "Is /new?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -256,
        192
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Context').item.json.chatId }}",
        "text": "Session cleared. Ready for a new briefing — what story are we telling?",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a4-node-04",
      "name": "Send Reset Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        0
      ],
      "webhookId": "4019cfe1-cf4d-4785-809b-fd4b00e34ac6",
      "credentials": {
        "telegramApi": {
          "id": "AXoba8CinTHCfebr",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extract Context').item.json.text }}",
        "options": {
          "systemMessage": "={{ $('Resolve Prompt').item.json.prompt }}"
        }
      },
      "id": "a4-node-05",
      "name": "Francis Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -48,
        352
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-opus-4-6",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {}
      },
      "id": "a4-node-06",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -208,
        560
      ],
      "credentials": {
        "anthropicApi": {
          "id": "B0tI7wq5X9zzTWKu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Context').item.json.sessionId }}",
        "contextWindowLength": 20
      },
      "id": "a4-node-07",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $input.first().json.response || $input.first().json.text || $input.first().json.output || '';\nconst chatId = $('Extract Context').item.json.chatId;\n\nconst postMatch = agentOutput.match(/<post>([\\s\\S]*?)<\\/post>/);\nconst postContent = postMatch ? postMatch[1].trim() : null;\n\nlet textContent = agentOutput;\nif (postMatch) textContent = textContent.replace(postMatch[0], '').trim();\n\nif (postContent) {\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.pending) staticData.pending = {};\n  staticData.pending[chatId] = postContent;\n}\n\nreturn [{\n  json: {\n    chatId,\n    textContent,\n    postContent,\n    hasPost: !!postContent,\n    fullOutput: agentOutput\n  }\n}];"
      },
      "id": "a4-node-08",
      "name": "Parse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a4-cond-haspost",
              "leftValue": "={{ $json.hasPost }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a4-node-09",
      "name": "Has Post?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        528,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/rest/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "LinkedIn-Version",
              "value": "202604"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"author\": \"urn:li:person:ZLHWM5YOBe\",\n  \"commentary\": {{ JSON.stringify($json.pendingPost) }},\n  \"visibility\": \"PUBLIC\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"distribution\": {\n    \"feedDistribution\": \"MAIN_FEED\",\n    \"targetEntities\": [],\n    \"thirdPartyDistributionChannels\": []\n  }\n}",
        "options": {}
      },
      "id": "a4-node-10",
      "name": "Save LinkedIn Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FRuioKTMb9qUTlmX",
          "name": "LinkedIn Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Output').item.json.chatId }}",
        "text": "={{ ($('Parse Output').item.json.textContent ? $('Parse Output').item.json.textContent + '\\n\\n---\\n\\n' : '') + $('Parse Output').item.json.postContent + '\\n\\n---\\nStaged. Reply /post to publish to LinkedIn, or keep iterating.' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a4-node-11",
      "name": "Send Post Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        192
      ],
      "webhookId": "bc7c296c-416e-423a-94fd-987be577bafc",
      "credentials": {
        "telegramApi": {
          "id": "AXoba8CinTHCfebr",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.fullOutput }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a4-node-12",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        480
      ],
      "webhookId": "59cc4ff1-ec6b-455c-a4cd-24d4221dd141",
      "credentials": {
        "telegramApi": {
          "id": "AXoba8CinTHCfebr",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "id": "a4-node-13",
      "name": "Is /post?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -128,
        256
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a4-cond-ispost",
              "leftValue": "={{ $json.isPost }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a4-node-14",
      "name": "Send Publish Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        96
      ],
      "parameters": {
        "chatId": "={{ $('Extract Context').item.json.chatId }}",
        "text": "Published to LinkedIn.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "AXoba8CinTHCfebr",
          "name": "Telegram account 2"
        }
      },
      "webhookId": "25daba7e-4509-4901-982c-7280dbe662b0"
    },
    {
      "id": "8f3f2bc1-c730-4160-8a68-b10143c3eba5",
      "name": "Fetch Best Practices",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -288,
        416
      ],
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "347824ba-ea2b-81d9-b1ba-f69b99e29637",
          "mode": "id"
        },
        "returnAll": true,
        "fetchNestedBlocks": true
      },
      "credentials": {
        "notionApi": {
          "id": "brvlRm4prk1LZUyR",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "a0006a53-3dc8-4087-9a0e-4f5c73f3a52f",
      "name": "Flatten Best Practices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        416
      ],
      "parameters": {
        "jsCode": "const blocks = $input.all().map(i => i.json);\nconst out = [];\n\nfunction rtToMd(rt) {\n  if (!Array.isArray(rt)) return '';\n  return rt.map(r => {\n    let t = r.plain_text !== undefined ? r.plain_text : (r.text && r.text.content) || '';\n    const a = r.annotations || {};\n    if (a.code) t = '`' + t + '`';\n    if (a.bold) t = '**' + t + '**';\n    if (a.italic) t = '*' + t + '*';\n    return t;\n  }).join('');\n}\n\nfor (const b of blocks) {\n  const type = b.type;\n  if (!type) continue;\n  const d = b[type] || {};\n  const t = rtToMd(d.rich_text || []);\n  switch (type) {\n    case 'paragraph': if (t) { out.push(t); out.push(''); } break;\n    case 'heading_1': out.push(''); out.push('# ' + t); out.push(''); break;\n    case 'heading_2': out.push(''); out.push('## ' + t); out.push(''); break;\n    case 'heading_3': out.push(''); out.push('### ' + t); out.push(''); break;\n    case 'bulleted_list_item': out.push('- ' + t); break;\n    case 'numbered_list_item': out.push('1. ' + t); break;\n    case 'quote': out.push('> ' + t); out.push(''); break;\n    case 'callout': { const emoji = (d.icon && d.icon.emoji) || ''; out.push('> ' + (emoji ? emoji + ' ' : '') + t); out.push(''); break; }\n    case 'divider': out.push(''); out.push('---'); out.push(''); break;\n    case 'code': out.push('```' + (d.language || '')); out.push(t); out.push('```'); out.push(''); break;\n    case 'to_do': out.push('- [ ] ' + t); break;\n    case 'toggle': out.push('- ' + t); break;\n    default: if (t) { out.push(t); out.push(''); }\n  }\n}\n\nconst markdown = out.join('\\n').trim();\nreturn [{ json: { markdown, blockCount: blocks.length } }];"
      }
    },
    {
      "id": "a4-node-15",
      "name": "Fetch Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        416
      ],
      "parameters": {
        "url": "https://raw.githubusercontent.com/IAMJURI8/ctrl-ai-registry/main/agents/a4-francis/system-prompt.xml",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "responseFormat": "text",
              "fullResponse": true
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "a4-node-16",
      "name": "Resolve Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        416
      ],
      "parameters": {
        "jsCode": "const httpItem = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.promptCache) staticData.promptCache = {};\n\nconst AGENT_ID = 'a4';\nconst CACHE_KEY = `prompt_cache_${AGENT_ID}`;\nconst TTL_MS = 5 * 60 * 1000;\nconst now = Date.now();\n\nconst rawBody = httpItem.data ?? httpItem.body;\nconst body = typeof rawBody === 'string' ? rawBody : '';\nconst httpOk = httpItem.statusCode === 200 && body.trim().length > 100;\n\nlet prompt;\nlet source;\n\nif (httpOk) {\n  prompt = body;\n  staticData.promptCache[CACHE_KEY] = { prompt, ts: now };\n  source = 'live';\n} else {\n  const cached = staticData.promptCache[CACHE_KEY];\n  if (!cached || !cached.prompt) {\n    throw new Error(`[${AGENT_ID}] Prompt fetch failed (status ${httpItem.statusCode}) and no cache available`);\n  }\n  prompt = cached.prompt;\n  const ageMin = Math.round((now - cached.ts) / 60000);\n  source = (now - cached.ts) > TTL_MS ? 'cache-stale' : 'cache';\n  console.log(`[${AGENT_ID}] FALLBACK: HTTP ${httpItem.statusCode}, serving cached prompt (age ${ageMin}m, source=${source})`);\n}\n\nconst bestPracticesMarkdown = $('Flatten Best Practices').item.json.markdown || '';\nprompt = prompt.split(\"{{ $('Flatten Best Practices').item.json.markdown }}\").join(bestPracticesMarkdown);\n\nreturn [{ json: { prompt, source, agent: AGENT_ID, promptLen: prompt.length } }];"
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Context": {
      "main": [
        [
          {
            "node": "Is /new?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is /new?": {
      "main": [
        [
          {
            "node": "Send Reset Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is /post?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Francis Agent": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "Has Post?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Post?": {
      "main": [
        [
          {
            "node": "Send Post Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Francis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Francis Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Is /post?": {
      "main": [
        [
          {
            "node": "Save LinkedIn Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Best Practices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save LinkedIn Draft": {
      "main": [
        [
          {
            "node": "Send Publish Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Best Practices": {
      "main": [
        [
          {
            "node": "Flatten Best Practices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Best Practices": {
      "main": [
        [
          {
            "node": "Fetch Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Prompt": {
      "main": [
        [
          {
            "node": "Resolve Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Prompt": {
      "main": [
        [
          {
            "node": "Francis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
