agents/a4-francis/workflow.json
{
  "name": "A4 — Francis (LinkedIn Content Creator)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "a4-node-01",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        192
      ],
      "webhookId": "41716dde-8622-443f-b270-848a1bd9b778",
      "credentials": {
        "telegramApi": {
          "id": "AXoba8CinTHCfebr",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst chatId = String(\n  msg.message?.chat?.id ||\n  msg.channel_post?.chat?.id ||\n  ''\n);\nconst text = (\n  msg.message?.text ||\n  msg.channel_post?.text ||\n  ''\n).trim();\nconst lower = text.toLowerCase();\nconst isNew = lower === '/new';\nconst isPostCommand = lower === '/post';\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.sessions) staticData.sessions = {};\nif (!staticData.pending) staticData.pending = {};\n\nif (isNew) {\n  const id = Date.now().toString(36) + Math.random().toString(36).slice(2);\n  staticData.sessions[chatId] = id;\n  staticData.pending[chatId] = null;\n} else if (!staticData.sessions[chatId]) {\n  const id = Date.now().toString(36) + Math.random().toString(36).slice(2);\n  staticData.sessions[chatId] = id;\n}\n\nconst pendingPost = staticData.pending[chatId] || null;\nconst isPost = isPostCommand && !!pendingPost;\n\nreturn [{\n  json: {\n    chatId,\n    text,\n    isNew,\n    isPost,\n    sessionId: staticData.sessions[chatId],\n    pendingPost\n  }\n}];"
      },
      "id": "a4-node-02",
      "name": "Extract Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a4-cond-isnew",
              "leftValue": "={{ $json.isNew }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a4-node-03",
      "name": "Is /new?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -256,
        192
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Context').item.json.chatId }}",
        "text": "Session cleared. Ready for a new briefing — what story are we telling?",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a4-node-04",
      "name": "Send Reset Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        0
      ],
      "webhookId": "4019cfe1-cf4d-4785-809b-fd4b00e34ac6",
      "credentials": {
        "telegramApi": {
          "id": "AXoba8CinTHCfebr",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extract Context').item.json.text }}",
        "options": {
          "systemMessage": "={{ $('Resolve Prompt').item.json.prompt }}"
        }
      },
      "id": "a4-node-05",
      "name": "Francis Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -48,
        352
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-opus-4-6",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {}
      },
      "id": "a4-node-06",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -208,
        560
      ],
      "credentials": {
        "anthropicApi": {
          "id": "B0tI7wq5X9zzTWKu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Context').item.json.sessionId }}",
        "contextWindowLength": 20
      },
      "id": "a4-node-07",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $input.first().json.response || $input.first().json.text || $input.first().json.output || '';\nconst chatId = $('Extract Context').item.json.chatId;\n\nconst postMatch = agentOutput.match(/<post>([\\s\\S]*?)<\\/post>/);\nconst postContent = postMatch ? postMatch[1].trim() : null;\n\nlet textContent = agentOutput;\nif (postMatch) textContent = textContent.replace(postMatch[0], '').trim();\n\nif (postContent) {\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.pending) staticData.pending = {};\n  staticData.pending[chatId] = postContent;\n}\n\nreturn [{\n  json: {\n    chatId,\n    textContent,\n    postContent,\n    hasPost: !!postContent,\n    fullOutput: agentOutput\n  }\n}];"
      },
      "id": "a4-node-08",
      "name": "Parse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a4-cond-haspost",
              "leftValue": "={{ $json.hasPost }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a4-node-09",
      "name": "Has Post?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        528,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/rest/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "LinkedIn-Version",
              "value": "202604"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"author\": \"urn:li:person:ZLHWM5YOBe\",\n  \"commentary\": {{ JSON.stringify($json.pendingPost) }},\n  \"visibility\": \"PUBLIC\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"distribution\": {\n    \"feedDistribution\": \"MAIN_FEED\",\n    \"targetEntities\": [],\n    \"thirdPartyDistributionChannels\": []\n  }\n}",
        "options": {}
      },
      "id": "a4-node-10",
      "name": "Save LinkedIn Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FRuioKTMb9qUTlmX",
          "name": "LinkedIn Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Output').item.json.chatId }}",
        "text": "={{ ($('Parse Output').item.json.textContent ? $('Parse Output').item.json.textContent + '\\n\\n---\\n\\n' : '') + $('Parse Output').item.json.postContent + '\\n\\n---\\nStaged. Reply /post to publish to LinkedIn, or keep iterating.' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a4-node-11",
      "name": "Send Post Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        192
      ],
      "webhookId": "bc7c296c-416e-423a-94fd-987be577bafc",
      "credentials": {
        "telegramApi": {
          "id": "AXoba8CinTHCfebr",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.fullOutput }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a4-node-12",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        480
      ],
      "webhookId": "59cc4ff1-ec6b-455c-a4cd-24d4221dd141",
      "credentials": {
        "telegramApi": {
          "id": "AXoba8CinTHCfebr",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "id": "a4-node-13",
      "name": "Is /post?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -128,
        256
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a4-cond-ispost",
              "leftValue": "={{ $json.isPost }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a4-node-14",
      "name": "Send Publish Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        96
      ],
      "parameters": {
        "chatId": "={{ $('Extract Context').item.json.chatId }}",
        "text": "Published to LinkedIn.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "AXoba8CinTHCfebr",
          "name": "Telegram account 2"
        }
      },
      "webhookId": "25daba7e-4509-4901-982c-7280dbe662b0"
    },
    {
      "id": "8f3f2bc1-c730-4160-8a68-b10143c3eba5",
      "name": "Fetch Best Practices",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -288,
        416
      ],
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "347824ba-ea2b-81d9-b1ba-f69b99e29637",
          "mode": "id"
        },
        "returnAll": true,
        "fetchNestedBlocks": true
      },
      "credentials": {
        "notionApi": {
          "id": "brvlRm4prk1LZUyR",
          "name": "Notion account"
        }
      }
    },
    {
      "id": "a0006a53-3dc8-4087-9a0e-4f5c73f3a52f",
      "name": "Flatten Best Practices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        416
      ],
      "parameters": {
        "jsCode": "const blocks = $input.all().map(i => i.json);\nconst out = [];\n\nfunction rtToMd(rt) {\n  if (!Array.isArray(rt)) return '';\n  return rt.map(r => {\n    let t = r.plain_text !== undefined ? r.plain_text : (r.text && r.text.content) || '';\n    const a = r.annotations || {};\n    if (a.code) t = '`' + t + '`';\n    if (a.bold) t = '**' + t + '**';\n    if (a.italic) t = '*' + t + '*';\n    return t;\n  }).join('');\n}\n\nfor (const b of blocks) {\n  const type = b.type;\n  if (!type) continue;\n  const d = b[type] || {};\n  const t = rtToMd(d.rich_text || []);\n  switch (type) {\n    case 'paragraph': if (t) { out.push(t); out.push(''); } break;\n    case 'heading_1': out.push(''); out.push('# ' + t); out.push(''); break;\n    case 'heading_2': out.push(''); out.push('## ' + t); out.push(''); break;\n    case 'heading_3': out.push(''); out.push('### ' + t); out.push(''); break;\n    case 'bulleted_list_item': out.push('- ' + t); break;\n    case 'numbered_list_item': out.push('1. ' + t); break;\n    case 'quote': out.push('> ' + t); out.push(''); break;\n    case 'callout': { const emoji = (d.icon && d.icon.emoji) || ''; out.push('> ' + (emoji ? emoji + ' ' : '') + t); out.push(''); break; }\n    case 'divider': out.push(''); out.push('---'); out.push(''); break;\n    case 'code': out.push('```' + (d.language || '')); out.push(t); out.push('```'); out.push(''); break;\n    case 'to_do': out.push('- [ ] ' + t); break;\n    case 'toggle': out.push('- ' + t); break;\n    default: if (t) { out.push(t); out.push(''); }\n  }\n}\n\nconst markdown = out.join('\\n').trim();\nreturn [{ json: { markdown, blockCount: blocks.length } }];"
      }
    },
    {
      "id": "a4-node-15",
      "name": "Fetch Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        416
      ],
      "parameters": {
        "url": "https://raw.githubusercontent.com/IAMJURI8/ctrl-ai-registry/main/agents/a4-francis/system-prompt.xml",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "responseFormat": "text",
              "fullResponse": true
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "a4-node-16",
      "name": "Resolve Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        416
      ],
      "parameters": {
        "jsCode": "const httpItem = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.promptCache) staticData.promptCache = {};\n\nconst AGENT_ID = 'a4';\nconst CACHE_KEY = `prompt_cache_${AGENT_ID}`;\nconst TTL_MS = 5 * 60 * 1000;\nconst now = Date.now();\n\nconst rawBody = httpItem.data ?? httpItem.body;\nconst body = typeof rawBody === 'string' ? rawBody : '';\nconst httpOk = httpItem.statusCode === 200 && body.trim().length > 100;\n\nlet prompt;\nlet source;\n\nif (httpOk) {\n  prompt = body;\n  staticData.promptCache[CACHE_KEY] = { prompt, ts: now };\n  source = 'live';\n} else {\n  const cached = staticData.promptCache[CACHE_KEY];\n  if (!cached || !cached.prompt) {\n    throw new Error(`[${AGENT_ID}] Prompt fetch failed (status ${httpItem.statusCode}) and no cache available`);\n  }\n  prompt = cached.prompt;\n  const ageMin = Math.round((now - cached.ts) / 60000);\n  source = (now - cached.ts) > TTL_MS ? 'cache-stale' : 'cache';\n  console.log(`[${AGENT_ID}] FALLBACK: HTTP ${httpItem.statusCode}, serving cached prompt (age ${ageMin}m, source=${source})`);\n}\n\nconst bestPracticesMarkdown = $('Flatten Best Practices').item.json.markdown || '';\nprompt = prompt.split(\"{{ $('Flatten Best Practices').item.json.markdown }}\").join(bestPracticesMarkdown);\n\nreturn [{ json: { prompt, source, agent: AGENT_ID, promptLen: prompt.length } }];"
      }
    },
    {
      "id": "68e5d97b-a618-4d24-95f8-be0b73b59c58",
      "name": "Prepare Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        720
      ],
      "parameters": {
        "jsCode": "const CHARS_PER_TOKEN = 3.5;\nconst output = $json.output || '';\nconst userText = $('Extract Context').item.json.text || '';\nconst systemPrompt = $('Resolve Prompt').item.json.prompt || '';\nconst inputChars = systemPrompt.length + userText.length;\nconst outputChars = output.length;\nconst inputTokens = Math.ceil(inputChars / CHARS_PER_TOKEN);\nconst outputTokens = Math.ceil(outputChars / CHARS_PER_TOKEN);\nreturn [{\n  json: {\n    __monitor_body: {\n      agent_name: 'francis',\n      provider: 'anthropic',\n      model: 'claude-opus-4-6',\n      input_tokens: inputTokens,\n      output_tokens: outputTokens,\n      cache_read_tokens: 0,\n      cache_write_tokens: 0,\n      workflow_run_id: $execution.id,\n      metadata: {\n        estimated: true,\n        chat_id: $('Extract Context').item.json.chatId,\n        session_id: $('Extract Context').item.json.sessionId,\n        system_prompt_chars: systemPrompt.length,\n        user_text_chars: userText.length,\n        output_chars: outputChars\n      }\n    }\n  }\n}];"
      }
    },
    {
      "id": "b334e167-17a1-4712-b804-a500d8233830",
      "name": "Log to Monitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        720
      ],
      "parameters": {
        "method": "POST",
        "url": "https://monitor.controlplusai.com/api/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "REDACTED_ROTATED_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.__monitor_body) }}",
        "options": {
          "timeout": 5000
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Context": {
      "main": [
        [
          {
            "node": "Is /new?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is /new?": {
      "main": [
        [
          {
            "node": "Send Reset Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is /post?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Francis Agent": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "Has Post?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Post?": {
      "main": [
        [
          {
            "node": "Send Post Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Francis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Francis Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Is /post?": {
      "main": [
        [
          {
            "node": "Save LinkedIn Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Best Practices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save LinkedIn Draft": {
      "main": [
        [
          {
            "node": "Send Publish Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Best Practices": {
      "main": [
        [
          {
            "node": "Flatten Best Practices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Best Practices": {
      "main": [
        [
          {
            "node": "Fetch Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Prompt": {
      "main": [
        [
          {
            "node": "Resolve Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Prompt": {
      "main": [
        [
          {
            "node": "Francis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log": {
      "main": [
        [
          {
            "node": "Log to Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": {
    "global": {
      "sessions": {
        "8726067721": "mo7y9u55dov1atg3f6o"
      },
      "pending": {
        "8726067721": null
      },
      "promptCache": {
        "prompt_cache_a4": {
          "prompt": "<Role>\nYou are Francis, a LinkedIn content creator and personal brand manager for Julian Ritt (JuRi), Head of Digital Solutions, Data and AI at Porsche Asia Pacific, based in Singapore.\n\nJulian is publicly running Project Zero, a documented experiment simulating a full AI-powered consulting firm called Ctrl+AI Advisory, where every business function is built and run by AI agents. He writes as a practitioner sharing honestly, not as an influencer performing.\n\nHis background combines enterprise AI at a global OEM with hands-on solo AI experimentation. Three years in Singapore is a lived reference point, not name-dropping. The target audience is practitioners, consultants, and AI-curious professionals. He is building thought leadership and personal brand, not selling anything.\n\nOne hard constraint applies to every post: no reference to launching a real business, departure from current role, relocation plans, or timelines. Project Zero is framed as a learning experiment, not a business launch.\n\nPersonality profile (Insights Discovery): Yellow 45%, Blue 30%, Green 15%, Red 10%. Inspiring and creative but structured and precise, always in Julian's authentic voice.\n</Role>\n\n<Organization>\nCtrl+AI Advisory is a vendor-neutral AI consulting firm for SMEs, founded and led by Julian. The firm helps business owners and leaders answer the question: \"What does AI mean for my business, specifically, and what should I do first?\" No software sales, no tool pitches, just strategic guidance grounded in how businesses actually run. You work in the content function and are responsible for building Julian's personal brand on LinkedIn.\n</Organization>\n\n<BestPractices>\nThe block below is the authoritative, live content playbook pulled from Notion at runtime. It overrides anything that appears to conflict elsewhere in this prompt. Apply every rule in it: length targets, forbidden vocabulary, formatting, hook patterns, voice (practitioner not guru), the humanization pass, the cringe test.\n\n{{ $('Flatten Best Practices').item.json.markdown }}\n</BestPractices>\n\n<NonNegotiables>\nEven if the injected document above is unavailable or truncated, these rules always hold:\n- No em dashes. Use commas, periods, or semicolons.\n- No Oxford commas.\n- Target 800 to 1,000 characters. Hard cap 1,100.\n- 5th to 7th grade reading level. Short sentences. Plain words.\n- Never end with \"Agree?\" or \"Thoughts?\" or any engagement bait variant.\n- At least one concrete detail only Julian could know: a real number, a named tool, a specific outcome.\n- Never imply Julian is leaving his role or launching a business. Project Zero is an experiment.\n</NonNegotiables>\n\n<Tasks>\nWhen you receive a briefing:\n1. Read the topic, key point, raw material, and optional post type.\n2. If raw material is thin, ask for one specific detail before drafting: a real number, a named tool, a concrete outcome. Do not invent specifics.\n3. Draft a LinkedIn post applying the BestPractices above.\n4. Suggest one image following the BestPractices \"Images\" section. Recommend a real screenshot, photo, or simple diagram. Never generic stock or decorative AI art.\n5. Deliver the response in this exact format:\n\n[One short formatting note, optional, max 1 or 2 sentences]\n\n&lt;post&gt;\n[the complete LinkedIn post text, ready to publish]\n&lt;/post&gt;\n\n&lt;image&gt;\n[one sentence describing the recommended image, concrete and specific]\n&lt;/image&gt;\n\nNo preamble, no welcome, nothing after the closing &lt;/image&gt; tag.\n</Tasks>\n\n<PublishingFlow>\nThe workflow that runs you extracts only the content inside &lt;post&gt; tags when Julian confirms with /post. The &lt;image&gt; block is for Julian's reference and is not published. Always include both tags on every draft so Julian has the image suggestion alongside the copy.\n</PublishingFlow>\n\n<Important_Notes>\nDo not use emojis in your conversational replies, only inside the post itself if the BestPractices allow it. Do not add anything after the closing &lt;/image&gt; tag. If the BestPractices injection is empty, say so and ask Julian to check the source document before drafting.\n</Important_Notes>\n",
          "ts": 1776735222323
        }
      }
    }
  },
  "pinData": {},
  "meta": null,
  "tags": []
}
